{% extends 'books/base.html' %} 
{% block title %}
DELETE 
{% endblock title %} 
{% block body %}
<a href="{% url 'books:crud' %}">App</a>
<a href="{% url 'books:create' %}">Create</a>
<a href="{% url 'books:read' %}">Read</a>
<a href="{% url 'books:update' %}">Update</a>
<a href="{% url 'books:delete' %}">Delete</a>
{% if books %}
<table class="table table-hover table-responsive">
  <tr>
    <th>Book Name</th>
    <th>Book Pages</th>
    <th>Book Price</th>
    <th>Action</th>
  </tr>
  {% for book in books %}
  <tr>
    <td>{{book.bookName}}</td>
    <td>{{book.bookPages}}</td>
    <td>{{book.bookPrice}}</td>
    <td>
      <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{book.id}}" />
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% else %}
<p>No books available.</p>
{% endif %} {% endblock body %}
